extend layout



block content 
  div.inner
    h2 #{title}
    div.map
      div.autocomplete
        input.autocomplete(type="text" placeholder="Search" id="geolocate" name="geolocate")

      div#map
        p loading map...