extend layout

block content
  div.inner
    form.form(action="/register" method="POST")
      h2 register
      label(for="name") name
      input(type="text" name="name" )
      label(for="email") email
      input(type="email" name="email" )
      label(for="password") password
      input(type="password" name="password" )
      label(for="password-confirm") confirm password
      input(type="password" name="password-confirm")
      input.button(type="submit" value="Register ->")
    