extend layout



block content
  div.inner
    form.form(method="POST")
      h2  #{title}
      label(for="password") password
      input(type="password" name="password")
      label(for="password-confirm") confirm
      input(type="password" name="password-confirm")
      input.button(type="submit" value="reset password")
