mixin forgotForm()

  form.form(action="/account/forgot" method="POST")
    h2 forgot 
    label(for="email") Email Address
    input(type="email" name="email")
    input.button(type="submit" value="forgot")