mixin loginForm()
  form.form(action="/login" method="POST")
    h2 login 
    label(for="email") Email Address
    input(type="email" name="email")
    label(for="password") password 
    input(type="password" name="password")
    input.button(type="submit" value="login")
