mixin reviewForm(store)

  form(action=`/api/v1/stores/${store._id}/review` method="POST" class="reviewer")
    label(for="review") review
    textarea(name="review" placeholder="leave reivew") #{store.review}
    div.reviewer__meta
      div.reviewer__stars
        each num in [5,4,3,2,1]
          input(type="radio" id=`star${num}` name="rating" value=num)
          label(for=`star${num}`) #{num} stars

      input.button(type="submit" value="submit review->")