mixin storeCard(store = {})
  div.store
    div.store__hero
      div.store__actions
        if user
          div.store__action.store__action--heart
            form.heart(method="POST" action=`/api/v1/stores/${store._id}/heart`)
              - const heartstrings = user.hearts.map(heart => heart.toString())
              - const heartClass = heartstrings.includes(store._id.toString()) ? "heart__button--hearted heart__button" : 'heart__button'
              button(type="submit" name="heart" class=heartClass)
                != h.icon('heart')
        if store.reviews && store.reviews.length
          div.store__action.store__action--review
            != h.icon('review')
            span= store.reviews.length
        if user && store.author.equals(user._id)
          div.store__action.store__action--edit
            a(href=`/stores/${store._id}/edit`)
              != h.icon('pencil')
      img(src=`/uploads/${store.photo || 'store.png'}`)
      h2.title
        a(href=`/stores/${store.slug}`) #{store.name}
    div.store__details
      p #{store.description.split(' ').slice(0,25).join(' ')}
