mixin storeForm(store = {})

  form(action=`/add/${store._id || ''}` method="POST" class="card" enctype="multipart/form-data")
    label(for="name") name
    input(type="text" name="name" value=store.name)
    label(for="description") description
    textarea(name="description") #{store.description}
    label(for="photo") photo
    input(type="file" name="photo" id="photo" accept="image/gif,image/jpg, image/jpeg, image/png")
    if store.photo
      img(src=`/uploads/${store.photo}`, width="200" alt=`${store.name}`)
    label(for="address") Address
    input(type="text" id="address" name="location[address]" value=(store.location && store.location.address))
    label(for="lng") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]))
    label(for="lat") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]))
    - const tags = store.tags || []
    - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegetarian', 'Licensed']
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="Save ->" class="button")

